{
  "settings": {
    "width": 600,
    "height": 600
  },
  "traits": {
    "Accessory": {
      "variations": {
        "Bamboo-Flute": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/010.Accessory/Bamboo-Flute.15.png",
              "overlayIndex": 10
            }
          },
          "probabilityPercent": 15
        },
        "Life-Ring": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/010.Accessory/Life-Ring.25.png",
              "overlayIndex": 10
            }
          },
          "probabilityPercent": 25
        },
        "Message-In-A-Bottle": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/010.Accessory/Message-In-A-Bottle.5.png",
              "overlayIndex": 10
            }
          },
          "probabilityPercent": 5
        },
        "Pearl": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/010.Accessory/Pearl.5.png",
              "overlayIndex": 10
            }
          },
          "probabilityPercent": 5
        },
        "Scuba-Mask": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/010.Accessory/Scuba-Mask.50.png",
              "overlayIndex": 10
            }
          },
          "probabilityPercent": 50
        }
      }
    },
    "Base": {
      "variations": {
        "Crab": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/020.Base/Crab.20.png",
              "overlayIndex": 20
            }
          },
          "probabilityPercent": 20
        },
        "Goldfish": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/020.Base/Goldfish.20.png",
              "overlayIndex": 20
            }
          },
          "probabilityPercent": 20
        },
        "Narwhal": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/020.Base/Narwhal.30.png",
              "overlayIndex": 20
            }
          },
          "probabilityPercent": 30
        },
        "Starfish": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/020.Base/Starfish.30.png",
              "overlayIndex": 20
            }
          },
          "probabilityPercent": 30
        }
      }
    },
    "Eyes": {
      "variations": {
        "Big": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/030.Eyes/Big.10.png",
              "overlayIndex": 30
            }
          },
          "probabilityPercent": 10
        },
        "Content": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/030.Eyes/Content.20.png",
              "overlayIndex": 30
            }
          },
          "probabilityPercent": 20
        },
        "Joy": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/030.Eyes/Joy.30.png",
              "overlayIndex": 30
            }
          },
          "probabilityPercent": 30
        },
        "Wink": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/030.Eyes/Wink.40.png",
              "overlayIndex": 30
            }
          },
          "probabilityPercent": 40
        }
      }
    },
    "Mouth": {
      "variations": {
        "Cute": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/040.Mouth/Cute.5_5.png",
              "overlayIndex": 40
            }
          },
          "probabilityPercent": 5.5
        },
        "Happy": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/040.Mouth/Happy.40.png",
              "overlayIndex": 40
            }
          },
          "probabilityPercent": 40
        },
        "Smirk": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/040.Mouth/Smirk.10_5.png",
              "overlayIndex": 40
            }
          },
          "probabilityPercent": 10.5
        },
        "Surprised": {
          "assets": {
            "_all_": {
              "layerImage": "assets/traits/040.Mouth/Surprised.44.png",
              "overlayIndex": 40
            }
          },
          "probabilityPercent": 44
        }
      }
    }
  },
  "constraints": []
}
